@charset "UTF-8";

form {
  width: 500px;
  margin: auto;
}

input,
textarea {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 13pt;
  background-color: rgba(255, 255, 255, 0.9);
}

textarea {
  margin-left: 50px;
}

input:hover,
textarea:hover {
  background: #dddddd;
}

legend {
  color: #888888;
  font-weight: bold;
  font-size: 13pt;
  font-family: sans-serif;
}

fieldset {
  border-color: #cecece;
  margin: 20px;
}

#sex {
  width: 150px;
  margin-left: 50px;
  border: none;
}

#user {
  background: url('../_images/icone-contato.png') no-repeat 95% 95%;
}

#address {
  background: url('../_images/icone-endereco.png') no-repeat 95% 95%;
}

#message {
  background: url('../_images/icone-mensagem.png') no-repeat 95% 95%;
}

#order {
  background: url('../_images/icone-pagamento.png') no-repeat 95% 95%;
}

#cTot {
  border: none;
}
